
<div class="container marketing">
  <div class="row featurette" style="padding-top: 5em;">
    <br><br><br><br>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h2>PERTOPO S. DE R.L. DE C.V.</h2>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">      
      <p>
        Somos una empresa dedicada a la construcción de pozos profundos, así como a la fabricación, compra, venta, elaboración, producción, exportación de insumos, comercialización de equipos y sistemas de tratamiento de agua superficial.
        También contamos con la prestación de servicios de ingeniería técnica, administrativo, financiero, legal y económico que esté relacionado al sistema de tratamiento de agua.
      </p>
    </div>
    <br>
  </div>

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-12">
      <p>
          La compañía PERTOPO en su experiencia el ramo de la construcción, 
          ha evolucionado adaptándose a las nuevas generaciones en la industria. La compañia ha sido minuciosa con los análisis en los procesos administrativos 
          y aún más en los financieros, lo cual ha impulsado y ayudado a que la empresa siga creciendo año con año. 
      </p>
      <p>
          PERTOPO ha sobresalido por su contundencia y visión de crecer constantemente para ser una de las compañias más responsables y con un gran liderazgo en costos y servicio, 
          generado una ventaja competitiva sustentada aplicando el máximo desempeño, la disminución en los costos de compra, acaparando cada vez más mercado dando el mejor servicio 
          en el ramo de la industria de la construcción de pozos, también administrando los recursos para reinvertirlos en maquinaria, cumpliendo en tiempo y forma los procesos en cuanto a los contratos 
          y sirviendo al cliente lo que en general genera la ventaja competitiva sustentable de líder dándole un plus en su entrega por el servicio al cliente.
      </p>
    </div>
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->
  <hr class="featurette-divider">
  <div class="row">
    <div class="col-md-12">
        <h2>Misión</h2>
        <p>
          Somos una empresa constructora dedicada a la perforación de pozos profundos para extraer agua y con ella abastecer comunidades agrícolas del estado de Jalisco que no tienen acceso a este recurso, 
          brindándoles un servicio de calidad al mejor precio.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Visión</h2>
      <p>
          Ser la mejor compañía perforadora de Jalisco, que brinde al cliente el mejor servicio y calidad de trabajo perforando los suelos, extrayendo el agua para llevarla a quien lo requiera, con apoyo de nuevas tecnologías, 
          posicionándonos de esta forma como la mejor opción.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-7 order-md-2">
      <h2>Valores</h2><br>
      <ul>
        <li>
          <h4>Transparencia.</h4>
          <p>
              En un entorno social donde cada vez es menos frecuente, dentro
              de nuestros valores empresariales podemos integrar la transparencia hacia
              nuestro equipo y hacia nuestros clientes. Transparencia implica confianza y las
              relaciones humanas, incluidas las comerciales, se forjan con confianza.
          </p>
        </li>
        <li>
          <h4>Puntualidad.</h4>
          <p>
              El tiempo es dinero, y la gente cada vez valora más el suyo. 
              No solo es importante tenerlo en cuenta para nuestro equipo y su hora de llegada a su trabajo, 
              sino también en otras situaciones que afectan directamente al cliente potencial, 
              como las reuniones de venta; al cliente actual, como los envíos y plazos de entrega; 
              e incluso a nuestro equipo, como el pago de facturas y nóminas.
          </p>
        </li>
        <li>
          <h4>Diferencia.</h4>
          <p>
              ¿Qué aportamos que no aporte nuestra competencia? 
              La respuesta a esta pregunta será clave para que los clientes potenciales 
              quieran comprarnos y para que haya personas con talento dispuestas a trabajar con nosotros.
          </p>
        </li>
        <li>
          <h4>Excelencia.</h4>
          <p>
              La calidad llevada al máximo, eso es la excelencia. Si nos exigimos lo mejor, podremos dar lo mejor. Y que un cliente 
              y un empleado vean que les ofrecemos algo excelente les impulsará a quedarse con nosotros.
          </p>
        </li>
        <li>
          <h4>Pasión.</h4>
          <p>
              Cuando alguien se muestra apasionado con su trabajo y con lo que hace, 
              contagia esa pasión y esa energía a los demás. 
              Si nuestra empresa les transmite a su equipo y sus clientes dicha pasión, 
              ellos también se sentirán así.
          </p>
        </li>
        <li>
          <h4>Lealtad.</h4>
          <p>
              Si nos mostramos leales y fieles con nuestro equipo y nuestros clientes, 
              ellos nos devolverán esa fidelidad. 
              El impulso de reciprocidad está insertado en la naturaleza humana desde sus orígenes.
          </p>
        </li>
      </ul>
    </div>
  </div>

</div><!-- /.container -->

