<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
  <li data-target="#myCarousel" data-slide-to="1"></li>
  <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
      <div class="carousel-item active">
          <div class="container">
          <div class="carousel-caption">
              <h1>PERTOPO S. DE R.L. DE C.V.</h1>
              <p>Sobresalimos por nuestra contundencia y nuestra visión de crecer constantemente.</p>
              <p><a class="btn btn-lg btn-primary" routerLink="/nosotros" role="button">Nosotros</a></p>
          </div>
          </div>
      </div>
      <div class="carousel-item">
          <div class="container">
          <div class="carousel-caption">
              <h1>Evolucionamos para adaptarnos a la industria.</h1>
              <p>Conoce nuestros servicios, nos aducuamos a la cada una de las necesidades de nuestros clientes.</p>
              <p><a class="btn btn-lg btn-primary" routerLink="/servicios" role="button">Servicios</a></p>
          </div>
          </div>
      </div>
      <div class="carousel-item">
          <div class="container">
          <div class="carousel-caption">
              <h1>Nos interesa tu opinión</h1>
              <p>Contáctanos para conocer más los servicios que tenemos para ti.</p>
              <p><a class="btn btn-lg btn-primary" routerLink="/contacto" role="button">Contacto</a></p>
          </div>
          </div>
      </div>
  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Siguiente</span>
  </a>
</div>


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
  <div class="col-lg-4">
      <img class="rounded-circle" src="../assets/img/mission.svg" width="40%" height="40%">
      <h2>Misión</h2>
      <p>Somos una empresa constructora dedicada a la perforación de pozos profundos para extraer agua y con ella abastecer comunidades agrícolas del estado de Jalisco que no tienen acceso a este recurso, 
          brindándoles un servicio de calidad al mejor precio.</p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
      <!--<img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">-->
      <img class="rounded-circle" src="../assets/img/vision.svg" width="40%" height="40%">
      <h2>Visión</h2>
      <p>Ser la mejor compañía perforadora de Jalisco, que brinde al cliente el mejor servicio y calidad de trabajo perforando los suelos, extrayendo el agua para llevarla a quien lo requiera, con apoyo de nuevas tecnologías, 
          posicionándonos de esta forma como la mejor opción.</p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
          <img class="rounded-circle" src="../assets/img/values.svg" width="40%" height="40%">
      <h2>Valores</h2>
      <p>Seguridad en todas nuestras actividades, Comportamiento ético, Integridad y respeto a las personas, Calidad</p>
  </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->
  <hr class="featurette-divider">
  <div class="row ">
  <div class="col-md-7">
      <h2 class="featurette-heading">Nuestros servicios.</h2>
      <p class="lead">
              PERTOPO S. de R.L. de C.V. ofrece gran variedad de servicios, 
              adaptándolos a las necesidaes de cada cliente.</p>
      <p><a class="btn btn-lg btn-primary" routerLink="/servicios" role="button">Conoce más</a></p>
  </div>
  <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" src="../assets/img/servicios/tubo.svg" alt="Generic placeholder image" width="55%">
  </div>
  </div>


  <hr class="featurette-divider">

  <div class="row featurette">
  <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Servicios externos.</h2>
      <p class="lead">También ofrecemos servicios subcontratados.</p>
      <p><a class="btn btn-lg btn-primary" routerLink="/servicios" role="button">Conoce más</a></p>
  </div>
  <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="../assets/img/servicios/ase.svg" alt="Generic placeholder image" width="55%">
  </div>
  </div>

</div><!-- /.container -->


