
<div class="container marketing">
  <div class="row" style="padding-top: 0em;" >
    <img src="../../../assets/img/servicios/water.gif" style="width: 100%; height: 120px; padding-right: 0em">
    <br><br><br><br><br><br>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <br>
      <h2>Servicios.</h2>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">      
      <p>
        PERTOPO S. de R.L. de C.V. ofrece gran variedad de servicios, 
        adaptándolos a las necesidaes de cada cliente.
      </p>
    </div>
    <br>
  </div>
  <hr class="featurette-divider">

  <!-- Three columns of text below the carousel -->
  <div class="row ">
    <div class="col-md-7">
        <h2>Análisis de agua.</h2>
        <p class="lead">
          Se lleva a un laboratorio para analizar la calidad del agua, para ver que uso se le puede dar.</p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" src="../assets/img/servicios/gota.svg" alt="Generic placeholder image" width="55%">
    </div>
  </div>

  <div class="row"><br><br><br></div>

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
        <h2>Aforo.</h2>
        <p class="lead">
            Servicio de bombeo para checar el estado del pozo en cuanto aportación de agua,
            para recomendar el equipo mas adecuado a instalar para extraer el agua del pozo.
        </p>
    </div>
    <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto" src="../assets/img/servicios/aforo.svg" alt="Generic placeholder image" width="55%">
    </div>
  </div>

  <div class="row"><br><br><br></div>

  <div class="row ">
    <div class="col-md-7">
        <h2>Equipamiento de pozos.</h2>
        <ul>
            <li>Venta.</li>
            <li>Mano de obra de servicio sumergible.</li>
            <li>Bombas.</li>
            <li>Motores.</li>
            <li>Cableado.</li>
            <li>Tubería.</li>
            <li>Divas solares.</li>
          </ul>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" src="../assets/img/servicios/ase.svg" alt="Generic placeholder image" width="55%">
    </div>
  </div>

  <div class="row"><br><br><br></div>

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
        <h2>Construcción de pozos profundos.</h2>
        <p class="lead">
            Desde el inicio hasta el final de la obra se da avance y se va recopilando información de los materiales,
            durezas, aportaciones y expediente fotográfico de las actividades realizadas.
        </p>
    </div>
    <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto" src="../assets/img/servicios/construccion.tubos.svg" alt="Generic placeholder image" width="55%">
    </div>
  </div>

  <div class="row"><br><br><br></div>

  <div class="row ">
    <div class="col-md-7">
        <h2>Asesoría.</h2>
        <p>Revisión y asesoría para equipos relacionados al sistema de tratamiento de aguas.</p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" src="../assets/img/servicios/asesoria.1.svg" alt="Generic placeholder image" width="55%">
    </div>
  </div>

  <div class="row"><br><br><br></div>

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
        <h2>Mantenimiento.</h2>
        <p class="lead">
            Se realiza una visita en la ubicación del pozo, se hace chequeo de bomba, tubería, niveles del agua y
              se realiza un análisis del estado del pozo para presupuestar el trabajo para rehabilitarlo o limpiarlo.
        </p>
    </div>
    <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto" src="../assets/img/servicios/cepillado.svg" alt="Generic placeholder image" width="55%">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row">
    <div class="col-lg-12">
      <h2>Servicios externos</h2>
      <br>
    </div>
  </div>
  <div class="row">
      <div class="col-lg-12">      
        <p>
          PERTOPO S. de R.L. de C.V. también ofrece servicios subcontratados como lo son:
        </p>
        <ul>
          <li>
            <p>Servicios de ingeniería.</p>
          </li>
          <li>
            <p>Registro eléctrico de pozos.</p>
          </li>
          <li>
            <p>Trámites, seguimiento y permisos con la CONAGUA.</p>
          </li>
        </ul>
      </div>
      <br>
    </div>

</div><!-- /.container -->

